<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.628163874965-0skvgfr8lq3fonk0n8d2qh70b0sf5v4v</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>628163874965-0skvgfr8lq3fonk0n8d2qh70b0sf5v4v.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>google</string>
		<string>com.googleusercontent.apps</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Inter_28pt-Black.ttf</string>
		<string>Inter_28pt-Bold.ttf</string>
		<string>Inter_28pt-ExtraBold.ttf</string>
		<string>Inter_28pt-Regular.ttf</string>
		<string>Inter_28pt-Thin.ttf</string>
		<string>Inter_28pt-Medium.ttf</string>
		<string>Inter_28pt-ExtraLight.ttf</string>
		<string>Inter_28pt-Light.ttf</string>
		<string>Inter_28pt-SemiBold.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-Light.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow camera access to upload your profile photo and trips photos </string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow photo access to upload your profile photo and trips photos </string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>187.124.251.134</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleName</key>
	<string>Trips</string>
	<key>CFBundleDisplayName</key>
	<string>Trips</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow access to your contacts to find friends who are already on the app</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
